.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2dceb;
    flex-direction: column;
}

.container{
    background-color: #f2f3f7;
    padding: 40px;
    margin-bottom: 20px;
    width: 30%;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.button {
    width: 100%;
    background-color: #ffc62e;
    color: #535461;
    border: none;
    outline: none;
    padding: 10px 0px;
    font-weight: 800;
    margin: 10px 0px;
    cursor: pointer;
}

.button:hover{
    background-color: white;
    color: #ffc62e;
    border: 1px solid #ffc62e;
}